* {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-image:url('download.jpeg');
	background-repeat:repeat;
	background-size: 100%;
	background-attachment: fixed;
}

table,th,td {
	border: 1px solid lightgrey;
	border-collapse:  collapse;
}

tr:hover {
	background-color: darkslategrey;
}

button {
	background-color: transparent;
	color:grey;
}

footer {
	color:white;
}

.centered {
	text-align: center;
}

a:hover {
	color: blue;
}

button:hover {
	color: white;
}

article {
	border: 1px solid;
	padding: 1%;
	margin: 1% 0.5%;
}

iframe, img, video {
	border: 2px solid;
}

audio {
	height: 20px;
}

#stonks {
	width: 20%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

textarea {
	min-width: 33%;
	min-height: 25%;
	width: 50%;
	height: 10em;
	overflow: auto;
}