* {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-image:url('download.jpeg');
	background-repeat:repeat;
	background-size: 100%;
	background-attachment: fixed;
}

table,th,td {
	border: 1px solid black;
	border-collapse:  collapse;
}

button {
	background-color: transparent;
	color:grey;
}

footer {
	color:white;
}

.centered {
	text-align: center;
}

a:hover {
	color: white;
}

button:hover {
	color: white;
}

article {
	border: 1px solid;
	padding: 1%;
	margin: 1%;
}

iframe, img, video {
	border: 2px solid;
}

audio {
	height: 20px;
}