body {
	background-image:url('download.jpeg');
	background-repeat:repeat;
	background-size: 100%;
	background-attachment: fixed;
}

table,th,td {
	color:black;
	border:1px solid black;
	border-collapse:  collapse;
	background-color: white;
}

button {
	background-color:black;
	color:white;
}

footer {
	color:white;
}

.centered {
	text-align: center;
}